* {
    font-family: "GDS Transport", arial, sans-serif;
    margin: auto;
    padding: 0;

}
.navbar {
    background-color: black;
    color: rgb(255, 255, 255);
    
    
}

.header {

}

.crown {
    height: 30px;
    width: auto;
}

.search {
    float:right;
}

.welcome_section {
    background-color: dodgerblue;
    color: white;
    padding-left: 100px;
    padding-top: 70px;
    padding-right: 100px;
    padding-bottom: 70px;
align-content: center;
    
}

.popular_and_search {
    background: rgb(246, 245, 245);
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.popular {

}

.popular--header {
    
}

.popular--links {
    font-size: 22px;
    list-style: none;
    line-height: 30px;
}

.links--link {
    
}

.popular_search {
    
}